
.button {
	background-color: #999999;
	color: white;
	padding: 8px 14px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.05s linear;
}

.button:focus {
	background-color: red;
}

@media ( hover: hover ) {
	.button:hover {
		background-color: #666666;
	}
}
