
#menu-container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	pointer-events: none;
}

	#menu-overlay {
		height: 100vh;
		width: 100vw;
		position: fixed;
		background-color: rgba( 100, 100, 100, 0.7 );
		pointer-events: auto;
		z-index: 0;
		display: none;
	}

		#menu-container.visible > #menu-overlay {
			display: unset;
		}

	#menu {
		position: fixed;
		padding: 45px;
		left: 50%;
		top: 50%;
		color: white;
		background-color: rgba( 0, 0, 0, 0.6 );
		border-radius: 25px;
		pointer-events: auto;
		z-index: 1;
		transform: translate( -50%, -50% );
		display: none;
	}

		#menu button {
			margin: 8px 0;
		}

		#menu-container.visible > #menu {
			display: unset;
		}

		#menu-base-list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

			#menu-base-list > h1 {
				margin-bottom: 20px;
			}