
#homepage {
	background-repeat: repeat-y;
	background-size: 130%;
	background-position: 60%;
	height: 100%;
	width: 100%;
}

	#homepage-background {
		position: fixed;
		padding-top: calc( 100vw * 0.352 * 1.1 );
		width: calc( 100vw * 1.1 );
		height: 70vh;
		bottom: 7vh;
		left: 50%;
		transform: translateX( -50% );
		z-index: 0;
		background-size: cover;
		background-color: black;
	}

		/* size of the lanscape in the background */

		@media ( max-aspect-ratio: 1/1 ) {
			#homepage-background {
				background-position: 70% 0%;
				bottom: 25px;
				height: 30vh;
				width: 100vh;
				padding-top: calc( 100vh * 0.352 );
			}
		}

		@media ( min-aspect-ratio: 2/1 ) {
			#homepage-background {
				padding-top: calc( 35.2% * 1.3 * 1.1 );
				width: calc( 100vw * 1.3 *  1.1 );
				bottom: auto;
			}
		}

	#homepage > .list {
		position: fixed;
		display: inline-flex; /* so it has the size of its content */
		margin: 30px 0;
		padding: 45px;
		border-radius: 8px;
		background-color: rgba( 0, 0, 0, 0.5 );
		z-index: 1;
		left: 33%;
		top: 58%;
		transform: translate( -50%, -50% );
	}

		@media ( max-aspect-ratio: 1/1 ) {
			#homepage > .list {
				left: 50%;
				top: 33%;
			}
		}

		@media ( min-aspect-ratio: 2/1 ) {
			#homepage > .list {
				top: 50%;
			}
		}

		#homepage > .list > .button {
			
		}

	#homepage > h1 {
		color: white;
		font-size: 3em;
		font-family: 'Orelega One', cursive;
	}

	#homepage-picking-box {
		display: flex;
		flex-direction: column;
	}

		#homepage-picking-box > button {
			padding: 6px 11px;
			margin: 8px 0;
			cursor: pointer;
		}

		#homepage-picking-box.hidden {
			display: none;
		}

	#title-image {
		position: fixed;
		height: 96px;
		width: 768px;
		top: 20px;
		left: 50%;
		transform: translateX( -50% );
	}

		/* the title is on the left side if the screen is wide */

		@media ( max-aspect-ratio: 1/1 ) {
			#title-image {
				height: 64px;
				width: 512px;
			}
		}

		@media ( min-aspect-ratio: 2/1 ) {
			#title-image {
				left: 33%;
				top: calc( 50% - 200px );
			}
		}
