
#tag-input {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	z-index: 2000;
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	background-color: grey;
	display: none;
}

	#tag-input.enabled {
		display: inherit;
	}

	#tag-input textarea {
		margin-bottom: 10px;
		padding: 8px;
	}