
#dialogue-container {
	position: fixed;
	background-color: transparent;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	transition: background-color 0.3s;
}

	#dialogue-container.active {
		pointer-events: auto;
		background-color: rgba( 0, 0, 0, 0.5 );
	}

	#dialogue-frame {
		position: fixed;
		bottom: -20vh;
		left: 60px;
		border-radius: 15px;
		height: 20vh;
		padding: 30px;
		width: calc( 100vw - 120px );
		display: flex;
		align-items: center;
		transform: translateY( 0 );
		transition: transform 0.3s;
	}

		#dialogue-container.active > #dialogue-frame {
			transform: translateY( calc( -20vh - 60px ) );
		}

		#dialogue-thumbnail {
			border-radius: 5px;
			height: calc( 20vh - 60px );
			width: calc( 20vh - 60px );
		}

		#dialogue-text {
			position: relative;
			height: 100%;
			width: calc( 100% - 20vh + 60px );
			margin-left: 30px;
		}

			#dialogue-text > i {
				position: absolute;
				bottom: 0;
				left: calc( 50% );
				transform: translate( -50%, 50% );
				font-size: 2em;
				animation: swing_dialogue_carret 1s infinite linear;
			}

				@keyframes swing_dialogue_carret {
					from { transform: translate( -50%, 50% ); }
					50% { transform: translate( -50%, 80% ); }
					to { transform: translate( -50%, 50% ); }
				}

				#dialogue-text > i.hidden {
					display: none;
				}

/* DIALOGUE STYLE TEMPLATES */

	/* Narrative */

	#dialogue-container.narrative #dialogue-frame {
		background-color: grey;
		border-width: 2px;
		border-color: black;
		border-style: solid;
	}

	#dialogue-container.narrative  #dialogue-thumbnail {
		display: none;
	}

	#dialogue-container.narrative  #dialogue-text {
		font-family: 'Space Mono', monospace;
	}
