
#editor-chain-options{
	background-color: #111111;
	padding: 20px;
}

	.editor-chain-section {
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
		background-color: #999999;
		border-radius: 7px;
	}

		.editor-chain-section > * {
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
		}

		.editor-chain-section input {
			width: 250px;
			padding: 0 10px;
		}

		.editor-chain-section p {
			margin-bottom: 10px;
		}