
.ui-panel {
	background-color: black;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	overflow: hidden;
}

#editor-page {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: black;
}

	/* LEFT PANEL */

	#editor-left-panel {
		position: relative;
		height: 100%;
		width: calc( 100% - 400px );
		display: flex;
		flex-direction: column;
	}

		#editor-console {
			position: relative;
			height: 150px;
			width: 100%;
		}

		#editor-viewport {
			width: 100%;
			height: calc( 100% - 150px );
		}

	/* RIGHT PANEL */

	#editor-right-panel {
		position: relative;
		height: 100%;
		width: 400px;
	}

		/* TOOLS BUTTONS */

		#editor-tools {
			height: 400px;
			width: 100%;
			padding: 10px;
			background-color: #333333;
		}

			#editor-tools > * {
				margin: 5px 0;
			}

		/* TOOLS OPTIONS */

		#editor-tools-options {
			position: relative;
			height: calc( 100% - 400px );
			width: 100%;
		}

			.tool-options {
				height: 100%;
				width: 100%;
				background-color: black;
				display: none;
			}